<nav class="navbar navbar-light bg-light">
  <div class="container-fluid d-flex justify-content-around">
    <%= link_to raw('<i class="fa-brands fa-searchengin"></i> HelpEngine '), root_path , class:'navbar-brand' %>
    <%= link_to 'Analytics', analytics_path , class:'btn btn-info btn-md' %>
  </div>
</nav>
